h1 {
	text-align: center;
}

h3 {
    text-align: center;
    border: solid;
    border-color: darkorange;
    border-radius: 100%;
}

.blog-item {
	margin: 20px auto;
	max-width: 500px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}

.blog-item img {
	max-width: 100%;
}

.blog-item h2 {
	margin-top: 0;
}

.blog-item p {
	margin: 10px 0;
}

button#logOut {
	/* margin-top: 10px; */
	margin-left:95% ;
	background-color: tomato;
	color: white;
	cursor: pointer;
}

/* body {
	background-image: linear-gradient(to bottom, #ff0000 0%, #ff8000 20%, #ffff00 40%, #80ff00 60%, #00ff80 80%, #0080ff 90%, #8000ff 95%, #ff00ff 100%);
  } */
  